pandas
requests
beautifulsoup4
psycopg2-binary
google-generativeai
PyPDF2
uuid
pgvector
numpy
sentence-transformers
langchain
langchain-text-splitters
python-dotenv
selenium
webdriver-manager
streamlit
pandas
requests
beautifulsoup4
psycopg2-binary
psycopg2-pool
google-generativeai
PyPDF2
uuid
pgvector
numpy
sentence-transformers
langchain
langchain-text-splitters
python-dotenv
selenium
webdriver-manager
urllib3